---
import { Image } from 'astro:assets';
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="site-header" role="banner">
  <div class="theme-toggle-wrap">
    <ThemeToggle />
  </div>
  <div class="header-inner">
    <div class="logo-wrap">
      <Image
        src="/images/logo.webp"
        alt="Abingdon Antiques and More"
        width={360}
        height={105}
        class="logo-img"
        loading="eager"
        decoding="async"
      />
    </div>
  </div>
</header> 